<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Halma Board Editor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" href="/" target="_blank">
                <span class="oi oi-plus" aria-hidden="true"></span> Open New Editor
            </a>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
